################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GymWizz
/GymWizz/App_Data/New folder
/GymWizz/obj/Debug
/images
/A.docx
/~$work.docx
/work.docx
/useful link.docx
/SqlLocalDB.MSI
