@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/SlideShow.css" />

<div class="jumbotron">
    <h1>GymWizz</h1>
    <p class="lead">Make Gym Plan, Make Workout Plan And Watch Workout Videos.</p>
    
    <div class="w3-content w3-section" style="max-width:500px; height: 300px;">
        <img class="mySlides" src="~/Images/img1.png" style="width:100%;" />
        <img class="mySlides" src="~/Images/img2.jpeg" style="width:100%;" />
        <img class="mySlides" src="~/Images/img3.jpg" style="width:100%;" />
    </div>
</div>

<script>
    var myIndex = 0;

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        myIndex = myIndex % x.length;
        x[myIndex].style.display = "block";
        setTimeout(carousel, 2000);
    }

    carousel();

</script>

<div class="row">
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>
            GymWizz is a platform where gym members can utilise the system features to make a gym plan, 
            monitor the current number of people at the gym
            and the number of people going to the gym during same time as you. In addition, gym memeber can use this system to make workout plan. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>GymWizz Features</h2>
        <p>
            The system caculates the current number of people at your gym.
            The system has a feature call (schedule timer)- use for making gym plan. E.g are you going to the gym today?
            The system shows the numbers of people going to the gym at the same time as you.
            The system allow you to set alarms for reminder.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <address>
            GymWizz Team<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Facebook:</strong>   <a href="https://www.facebook.com/GymWizz/">GymWizz@facebook</a><br />
            <strong>Twitter:</strong> <a href="https://twitter.com/GymWizz">Gym@twitter</a>
        </address>

    </div>
