
@{
    ViewBag.Title = "Videos";
}

<div style="position: relative; height: 670px;">
    @*<h2>Free workout videos</h2>*@
    <div class="w3-content w3-section" style="height: 96%; overflow: hidden; position: absolute; left: 0px; right: 0px; top: 0px; width: 100%;">
        @*<img src="~/Images/VideoImage2.jpg" style="width: 100%; position: absolute; top:0%;" />*@
        <a href="https://www.youtube.com/watch?v=_RkcMX_ROHg"><img src="~/Images/VideoImage2.jpg" style="width: 100%; position: absolute; top:0%;" /></a>
    </div>
</div>

<div>
    <center>
        Whether you're beginner, intermediate or advanced gym goer, our free workouts will help you to burn fat, as well as build your strength and fitness.<br />
        Explorer the video library below to find a workout that suits your fitness needs and level. Make sure you check out the brand new <a href="#"> Full Body Fit series, made in collaboration with Fitbit.</a><br />
        If you want more help with your training we have <a href="#">personal trainers</a> in every gym who can help put together a bespoke programme for you.
    </center>
</div>

<div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/watch?v=Zqk2MF71qyY&list=PLkPhw7XICKpYnofyY6Hb0MlroVZ0f8TQk"><img src="~/Images/video1.png" /></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/watch?v=RBh2m-YCkGw"><img src="~/Images/video2.png" /></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/watch?v=J7buRPxIY1c"><img src="~/Images/video3.png" /></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/watch?v=rOxlw2VMSDw"><img src="~/Images/video4.png" /></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/watch?v=g1wgHMUpeC8"><img src="~/Images/video5.png" /></a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/watch?v=OXvcgOHyvk4"><img src="~/Images/video6.png" /></a>
    </div>
</div>
